.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  }
  
  .table-responsive table {
    width: 100%;
    border-collapse: collapse;
  }
  